[Desktop Entry]
Name=Plasma Windowed
Name[sv]=Plasma i fönster
Name[x-test]=xxPlasma Windowedxx
Comment=Run Plasmoids as simple applications
Comment[sv]=Kör Plasmoider som enkla program
Comment[x-test]=xxRun Plasmoids as simple applicationsxx

Exec=plasmawindowed %u
Terminal=false
Hidden=true
Icon=plasma
Type=Application
X-DBUS-StartupType=Unique
InitialPreference=1
