[Desktop Entry]
Name=Clipboard
Name[es]=Portapapeles
Name[sv]=Klippbord
Name[x-test]=xxClipboardxx
Comment=Provides access to the clipboard history.
Comment[es]=Proporciona acceso al historial del portapapeles.
Comment[sv]=Ger tillgång till klippbordshistoriken.
Comment[x-test]=xxProvides access to the clipboard history.xx

Icon=klipper
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/clipboard.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.clipboard
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Clipboard
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=desktop
