# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Type=Application
Exec=drkonqi-coredump-gui
TryExec=coredumpctl
Icon=tools-report-bug
Categories=Qt;KDE;System;

Name=Crashed Processes Viewer

GenericName=Crashed Processes Viewer

Comment=Offers detailed view of past crashes
