# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Type=Application
Exec=drkonqi-coredump-gui
TryExec=coredumpctl
Icon=tools-report-bug
Categories=Qt;KDE;System;

Name=Crashed Processes Viewer
Name[ar]=عارض العمليات المنهارة
Name[az]=Qəzalı proseslər izləyicisi
Name[ca]=Visualitzador de processos fallats
Name[ca@valencia]=Visor de processos fallats
Name[en_GB]=Crashed Processes Viewer
Name[es]=Visor de los procesos que han fallado
Name[fi]=Kaatuneiden prosessien katselin
Name[fr]=Afficheur de processus plantés
Name[ia]=Visor de processos fracassate
Name[it]=Visore dei processi con arresto anomalo
Name[ko]=충돌한 프로세스 뷰어
Name[nl]=Viewer van gecrashte processen
Name[pl]=Przeglądarka wysypanych aplikacji
Name[pt]=Visualizador de Processos Estoirados
Name[sl]=Vpogledovalnik sesutih procesov
Name[sv]=Visning av kraschade processer
Name[tr]=Çökmüş Süreçler Görüntüleyicisi
Name[uk]=Переглядач аварійних процесів
Name[x-test]=xxCrashed Processes Viewerxx
Name[zh_CN]=崩溃进程查看器

GenericName=Crashed Processes Viewer
GenericName[ar]=عارض العمليات المنهارة
GenericName[az]=Qəzalı proseslər izləyicisi
GenericName[ca]=Visualitzador de processos fallats
GenericName[ca@valencia]=Visor de processos fallats
GenericName[de]=Betrachter für abgestürzte Prozesse
GenericName[en_GB]=Crashed Processes Viewer
GenericName[es]=Visor de los procesos que han fallado
GenericName[fi]=Kaatuneiden prosessien katselin
GenericName[fr]=Afficheur de processus plantés
GenericName[ia]=Visor de processos fracassate
GenericName[it]=Visore dei processi con arresto anomalo
GenericName[ko]=충돌한 프로세스 뷰어
GenericName[nl]=Viewer van gecrashte processen
GenericName[pl]=Przeglądarka wysypanych aplikacji
GenericName[pt]=Visualizador de Processos Estoirados
GenericName[sl]=Vpogledovalnik sesutih procesov
GenericName[sv]=Visning av kraschade processer
GenericName[tr]=Çökmüş Süreçler Görüntüleyicisi
GenericName[uk]=Переглядач аварійних процесів
GenericName[x-test]=xxCrashed Processes Viewerxx
GenericName[zh_CN]=崩溃进程查看器

Comment=Offers detailed view of past crashes
Comment[ar]=يقدم عرض تفصيلي للانهيارات السابقة
Comment[az]=Baş vermiş qəzaların ətraflı görünüşünü təqdim edir
Comment[ca]=Ofereix una vista detallada de les fallades passades
Comment[ca@valencia]=Ofereix una vista detallada de les fallades passades
Comment[de]=Zeigt ausführliche Angaben vergangener Abstürze
Comment[en_GB]=Offers detailed view of past crashes
Comment[es]=Ofrece una vista detallada de los fallos anteriores
Comment[fi]=Tarjoaa tarkkaa tietoa aiemmista kaatumisista
Comment[fr]=Présente un affichage détaillé des plantages antérieurs
Comment[ia]=Offere vista detaliate de fracassos passate
Comment[it]=Offre una vista dettagliata dei passati arresti anomali
Comment[ko]=과거 충돌에 대한 자세한 보기 제공
Comment[nl]=Biedt gedetailleerd zicht op eerdere crashes
Comment[pl]=Daje szczegółowy widok poprzednich usterek
Comment[pt]=Oferece uma visão detalhada sobre estoiros anteriores
Comment[sl]=Nudi podrobne vpoglede preteklih sesutij
Comment[sv]=Erbjuder detaljerad visning av tidigare krascher
Comment[tr]=Geçmiş çökmelerin ayrıntılı bir görünümünü sunar
Comment[uk]=Докладні матеріал щодо попередніх аварійних завершень роботи
Comment[x-test]=xxOffers detailed view of past crashesxx
Comment[zh_CN]=显示过去程序崩溃的详情
