[Desktop Entry]
Name=Layout Template
Name[sv]=Layoutmall
Name[x-test]=xxLayout Templatexx
Type=Service
X-KDE-ServiceTypes=KPackage/PackageStructure
X-KDE-Library=plasma_packagestructure_layouttemplate

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=Plasma/LayoutTemplate
X-KDE-PluginInfo-Version=1
X-KDE-ParentApp=org.kde.plasmashell
