[Desktop Entry]
Exec=xembedsniproxy
Name=XembedSniProxy
Name[es]=XembedSniProxy
Name[sv]=XembedSniProxy
Name[x-test]=xxXembedSniProxyxx
Type=Application
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0
