[Desktop Entry]
Name=Look and Feel
Name[sv]=Utseende och känsla
Name[x-test]=xxLook and Feelxx
Type=Service
X-KDE-ServiceTypes=KPackage/PackageStructure
X-KDE-Library=plasma_packagestructure_lookandfeel

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=Plasma/LookAndFeel
X-KDE-PluginInfo-Version=1
X-KDE-ParentApp=org.kde.plasmashell
