[Desktop Entry]
Name=Wallpaper Images
Name[sv]=Skrivbordsunderlägg bilder
Name[x-test]=xxWallpaper Imagesxx
Type=Service
X-KDE-ServiceTypes=KPackage/PackageStructure
X-KDE-Library=plasma_packagestructure_wallpaperimages

X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=Wallpaper/Images
X-KDE-PluginInfo-Version=1
X-KDE-ParentApp=org.kde.plasmashell
