[SddmGreeterTheme]
Name=Breeze
Name[es]=Brisa
Name[sv]=Breeze
Name[x-test]=xxBreezexx
Description=Breeze Theme
Description[es]=Tema Brisa
Description[sv]=Breeze-tema
Description[x-test]=xxBreeze Themexx
Author=David Edmundson
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=davidedmundson@kde.org
Theme-Id=breeze
Theme-API=2.0
