[Desktop Entry]
Name=System Tray
Name[es]=Bandeja del sistema
Name[sv]=Systembricka
Name[x-test]=xxSystem Trayxx
Comment=Access hidden applications minimized in the system tray
Comment[sv]=Kom åt dolda program minimerade i systembrickan
Comment[x-test]=xxAccess hidden applications minimized in the system trayxx
Encoding=UTF-8
Icon=preferences-desktop-notification
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.systemtray
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-ContainmentType=Panel
