[Desktop Entry]
Type=Service
Name=kuiserver
Name[es]=kuiserver
Name[sv]=Gränssnittsserver
Name[x-test]=xxkuiserverxx
Exec=kuiserver5
Comment=KDE's Progress Info UI server
Comment[sv]=KDE:s gränssnittsserver för förloppsinformation
Comment[x-test]=xxKDE's Progress Info UI serverxx
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
