<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<!--
  SPDX-License-Identifier: CC0-1.0
-->
<policyconfig>
   <action id="org.kde.drkonqi.saveCoreToFile">
      <message>Extracting crash data from $(coreName)</message>
      <description>Extraction of crash data</description>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin</allow_active>
      </defaults>
   </action>
</policyconfig>
