[Desktop Entry]
Name=Locations
Name[es]=Posiciones
Name[sv]=Platser
Name[x-test]=xxLocationsxx
Comment=File and URL opener
Comment[sv]=Öppna filer och webbadresser
Comment[x-test]=xxFile and URL openerxx
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=system-file-manager
X-KDE-Library=krunner_locations
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=locations
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-Plasma-AdvertiseSingleRunnerQueryMode=true
X-KDE-PluginInfo-EnabledByDefault=true
