[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=freespacenotifier
X-KDE-DBus-ModuleName=freespacenotifier
X-KDE-Kded-autoload=true

Name=Free Space Notifier
Name[sv]=Information om ledigt utrymme
Name[x-test]=xxFree Space Notifierxx
Comment=Warns when running out of space on your home folder
Comment[sv]=Varnar när utrymmet i hemkatalogen håller på att ta slut
Comment[x-test]=xxWarns when running out of space on your home folderxx
