[Desktop Entry]
Name=Analog Clock
Name[es]=Reloj analógico
Name[sv]=Analog klocka
Name[x-test]=xxAnalog Clockxx
Comment=A clock with hands
Comment[es]=Un reloj con manecillas
Comment[sv]=En klocka med visare
Comment[x-test]=xxA clock with handsxx

Icon=preferences-system-time
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/analogclock.qml
X-Plasma-Provides=org.kde.plasma.time,org.kde.plasma.date
X-Plasma-StandAloneApp=true


X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.analogclock
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma/Clocks
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

