[Desktop Entry]
Encoding=UTF-8
Name=System Monitor
Name[es]=Monitor del sistema
Name[sv]=Systemövervakare
Name[x-test]=xxSystem Monitorxx
Comment=System status information
Comment[es]=Información sobre el estado del sistema
Comment[sv]=Information om systemstatus
Comment[x-test]=xxSystem status informationxx
ServiceTypes=Plasma/DataEngine
Icon=utilities-system-monitor
Type=Service
X-KDE-Library=plasma_engine_systemmonitor

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=systemmonitor
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
