# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2021-2026 Harald Sitter <sitter@kde.org>

[Unit]
Description=Cleaning DrKonqi data

[Timer]
# Purely for users that always supend, they'd not get cruft cleaned up on login.
# That's also why persistence is of no value or use.
OnCalendar=weekly
Persistent=false

[Install]
WantedBy=timers.target
