[Desktop Entry]
Name=%{APPNAME} Weather Data Provider
Name[sv]=%{APPNAME} väderdataleverantör
Name[x-test]=xx%{APPNAME} Weather Data Providerxx
Comment=Access to the weather data provider %{APPNAME}
Comment[sv]=Åtkomst till väderdataleverantören %{APPNAME}
Comment[x-test]=xxAccess to the weather data provider %{APPNAME}xx
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=weatherengine
Type=Service
Icon=noneyet
X-KDE-Library=ion_%{APPNAMELC}
X-KDE-PluginInfo-Name=%{APPNAMELC}
