[Desktop Entry]
Name=wstaw.org
Name[es]=wstaw.org
Name[sv]=wstaw.org
Name[x-test]=xxwstaw.orgxx
Comment=Allows images to be shared using the wstaw.org service
Comment[es]=Permite compartir imágenes usando el servicio wstaw.org
Comment[sv]=Tillåter att bilder delas genom att använda tjänsten wstaw.org
Comment[x-test]=xxAllows images to be shared using the wstaw.org servicexx
Type=Service

X-KDE-ServiceTypes=Plasma/ShareProvider
X-KDE-Library=plasma_engine_share
X-KDE-PlasmaShareProvider-MimeType=image/*

X-KDE-PluginInfo-Name=wstaw
X-KDE-PluginInfo-Author=Artur de Souza
X-KDE-PluginInfo-Email=asouza@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

