[Desktop Entry]
Name=Environment Canada
Name[sv]=Environment Canada
Name[x-test]=xxEnvironment Canadaxx
Comment=XML Data from Environment Canada
Comment[sv]=XML-data från Environment Canada
Comment[x-test]=xxXML Data from Environment Canadaxx
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=weatherengine
Type=Service
Icon=noneyet
X-KDE-Library=ion_envcan
X-KDE-PluginInfo-Name=envcan
