[Desktop Entry]
Type=Service
Name=Application menus daemon
Name[sv]=Demon för programmenyer
Name[x-test]=xxApplication menus daemonxx
Comment=Transfers application's menu to the desktop
Comment[sv]=Överför programmets meny till skrivbordet
Comment[x-test]=xxTransfers application's menu to the desktopxx
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=appmenu
X-KDE-DBus-ModuleName=appmenu
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false

