# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2021-2026 Harald Sitter <sitter@kde.org>

[Unit]
Description=Socket to launch DrKonqi for a systemd-coredump crash
DefaultDependencies=no
ConditionUser=!@system
# Be careful with how we related to plasma-core.target. In (at least) Plasma 6.8 it is somewhat easily kept
# alive by other units. e.g. on the Steam devices when switching session type between desktop mode and game mode
PartOf=plasma-core.target
# We need kwin to actually be able to render the drkonqi windows
After=plasma-kwin_wayland.service
After=sockets.target

[Socket]
# This is a bit problematic. Technically the user should be able to set the runtime dir via env as well, but we need
# a persistent location so the system-level service can talk to us :|
ListenSequentialPacket=/run/user/%U/drkonqi-coredump-launcher
SocketMode=0600
Accept=yes

# Disable hard-limiting (would fail the unit when exhausted)
TriggerLimitBurst=0

# Enable soft-limiting (does not fail the unit but limits the rate of polling)
PollLimitBurst=15
PollLimitIntervalSec=2s

# NB: this effectively also limits how many concurrent drkonqis run!
MaxConnections=16

[Install]
# When making changes here also make sure to replicate them in CMake.
WantedBy=plasma-core.target
