[Desktop Entry]
Name=BBC Weather from UK MET Office
Name[sv]=BBC-väder från brittiska meteorologiska departementet
Name[x-test]=xxBBC Weather from UK MET Officexx
Comment=XML Data from the UK MET Office
Comment[sv]=XML-data från brittiska meteorologiska departementet
Comment[x-test]=xxXML Data from the UK MET Officexx
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=weatherengine
Type=Service
Icon=noneyet
X-KDE-Library=ion_bbcukmet
X-KDE-PluginInfo-Name=bbcukmet
