[Desktop Entry]
Encoding=UTF-8
Name=Home
Name[es]=Carpeta personal
Name[sv]=Hem
Name[x-test]=xxHomexx
GenericName=Personal Files
GenericName[es]=Archivos personales
GenericName[sv]=Personliga filer
GenericName[x-test]=xxPersonal Filesxx
URL[$e]=$HOME
Icon=user-home
Type=Link

