[Desktop Entry]
Encoding=UTF-8
Name=Notifications
Name[es]=Notificaciones
Name[sv]=Underrättelser
Name[x-test]=xxNotificationsxx
Comment=Display notifications and jobs
Comment[es]=Mostrar notificaciones y trabajos
Comment[sv]=Visa underrättelser och jobb
Comment[x-test]=xxDisplay notifications and jobsxx

Type=Service
Icon=preferences-desktop-notification
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Category=Tasks
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.notifications
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-Provides=org.kde.plasma.notifications
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=plasma_applet_notifications

X-Plasma-MainScript=ui/main.qml
X-Plasma-RequiredExtensions=LaunchApp
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=ApplicationStatus
