[Desktop Entry]
Name=Application Launcher
Name[es]=Lanzador de aplicaciones
Name[sv]=Starta program
Name[x-test]=xxApplication Launcherxx
Type=Service
Icon=preferences-desktop-launch-feedback
Comment=Simple application launcher
Comment[es]=Lanzador de aplicaciones sencillo
Comment[sv]=Enkel programstart
Comment[x-test]=xxSimple application launcherxx

ServiceTypes=Plasma/ContainmentActions

X-KDE-Library=plasma_containmentactions_applauncher
X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=org.kde.applauncher
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

