[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/GeolocationProvider
Comment=Plasma Geolocation Provider
Comment[sv]=Plasma geografisk lokalisering
Comment[x-test]=xxPlasma Geolocation Providerxx

