# KDE Config File
[Desktop Entry]
Type=Application
Name=Dr Konqi
Name[ca]=Dr Konqi
Name[ca@valencia]=Dr Konqi
Name[es]=Dr Konqi
Name[it]=Dr Konqi
Name[nl]=Dr Konqi
Name[pt]=Dr Konqi
Name[sv]=Dr Konqi
Name[uk]=Dr Konqi
Name[x-test]=xxDr Konqixx
Icon=tools-report-bug
NoDisplay=true
