# KDE Config File
[Desktop Entry]
Type=Application
Name=Dr Konqi
Name[ca]=Dr Konqi
Name[ca@valencia]=Dr Konqi
Name[es]=Dr Konqi
Name[it]=Dr Konqi
Name[nl]=Dr Konqi
Name[pt]=Dr Konqi
Name[pt_BR]=Dr Konqi
Name[sk]=Dr Konqi
Name[sr]=Др Конки
Name[sr@ijekavian]=Др Конки
Name[sr@ijekavianlatin]=DrKonqi
Name[sr@latin]=DrKonqi
Name[sv]=Dr Konqi
Name[uk]=Dr Konqi
Name[x-test]=xxDr Konqixx
Name[zh_CN]=Dr Konqi
Icon=tools-report-bug
NoDisplay=true
